#  T-tests and P-values

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_rel`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](http://b.link/test50) and [this Quora](http://b.link/unpaired97). Make sure you understand when to use which type of t-test.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

### One tailed t-test 
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/ttest_machine.xlsx. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

#### Import dataset

In [6]:
# Your code here:
data = pd.read_csv("ttest_machine.txt",sep= " " )
data.head()

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5

In [14]:
# H0 = both columns are the same
# H1 = both column are diffent
st.ttest_rel(data['New_machine'], data['Old_machine'])

Ttest_relResult(statistic=-3.0614273841115853, pvalue=0.013540335651632492)

In [17]:
data['difference'] = data['New_machine']- data['Old_machine']

In [18]:
st.ttest_1samp(data['difference'],0)

Ttest_1sampResult(statistic=-3.0614273841115853, pvalue=0.013540335651632492)

In [ ]:
# result = both column are different

#### Import dataset

In this challenge we will work on the Pokemon dataset you have already used. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.). Use pokemon.csv

In [21]:
# Your code here:
data1 = pd.read_csv("pokemon.txt",sep= "," )
data1

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [67]:
def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    results = {}
    
    for feature in features:
        results[feature]= st.ttest_rel(s1[feature], s2[feature])[1]
        
        
          

    # Your code here
    
    return results

In [68]:
t_test_features(data1.sample(30), data1.sample(30))

{'HP': 0.7063400377459472,
 'Attack': 0.9310135021226887,
 'Defense': 0.636479977783549,
 'Sp. Atk': 0.26558569516430436,
 'Sp. Def': 0.9648895778968255,
 'Speed': 0.34584523621137675,
 'Total': 0.8355324343508488}

#### Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

In [70]:
s1  = data1[data1["Legendary"]==True]

In [74]:
s2 = data1[data1["Legendary"]==False].sample(len(s1))

In [81]:
#legendary and not legendary
t_test_features(s1, s2)

{'HP': 1.6035366302077397e-05,
 'Attack': 9.992969520353206e-12,
 'Defense': 6.010917606074101e-08,
 'Sp. Atk': 1.9856684740398284e-13,
 'Sp. Def': 4.4618466060058925e-10,
 'Speed': 4.439613567089197e-10,
 'Total': 1.7290988060607544e-19}

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

In [ ]:
# H0 = both columns are the same
# H1 = both column are diffent
# As conclusion, we reject H0. All of them are highly different

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [98]:
s1  = data1[data1["Generation"]== 1].sample(len(s2))
s2 = data1[data1["Generation"]== 2]
#Generation 1 and 2
t_test_features(s1, s2)

{'HP': 0.34741597599284857,
 'Attack': 0.1939629349629514,
 'Defense': 0.5279189122808263,
 'Sp. Atk': 0.43064611434024835,
 'Sp. Def': 0.27365165398861313,
 'Speed': 0.018721965013328346,
 'Total': 0.7065248280503474}

#### What conclusions can you make?

In [ ]:
# H0 = both columns are the same
# H1 = both column are diffent
# As conclusion:
    #HP, Defense,Sp. Atk,Sp. Def,Attack, Total, we can not reject it
    #Speed are different

#### Compare pokemons who have single type vs those having two types.

In [103]:
# Your code here
s1  = data1[data1["Type 2"].isna()]
s2 = data1[~data1["Type 2"].isna()].sample(len(s1))

In [104]:
t_test_features(s1, s2)

{'HP': 0.07728408748433772,
 'Attack': 8.086484918581047e-05,
 'Defense': 8.24529801198527e-09,
 'Sp. Atk': 0.0003112903037294939,
 'Sp. Def': 9.399611476487173e-05,
 'Speed': 0.029361641033457786,
 'Total': 4.783026143821049e-08}

#### What conclusions can you make?

In [ ]:
# Your comment here
# H0 = both columns are the same
# H1 = both column are diffent
# As conclusion:
    #HP we can not reject it
    #Defense,Attack,Sp. Def,Attack,,Sp. Atk, are different

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [106]:
# H0 = both columns are the same
# H1 = both column are diffent

st.ttest_rel(data1['Defense'], data1['Attack'])

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

In [ ]:
## Defense and Attack are different

In [107]:
# H0 = both columns are the same
# H1 = both column are diffent
st.ttest_rel(data1['Sp. Atk'], data1['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

In [ ]:
## Sep. atk and sp.def we can not reject it

#### What conclusions can you make?

# If the results of pvalue is higher than 0,05, it means both columns are related and not show any big different between them. Otherwise, when pvalue is lower tahn 0,05, we should reject the H0